apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    io.balena.features.dbus: "1"
    kompose.cmd: kompose convert --controller deployment -o kubernetes/i386/ -f docker-compose.x86_64
    kompose.version: 1.21.0 (992df58d8)
  creationTimestamp: null
  labels:
    io.kompose.service: wifi-spot
  name: wifi-spot
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: wifi-spot
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        io.balena.features.dbus: "1"
        kompose.cmd: kompose convert --controller deployment -o kubernetes/i386/ -f
          docker-compose.x86_64
        kompose.version: 1.21.0 (992df58d8)
      creationTimestamp: null
      labels:
        io.kompose.service: wifi-spot
    spec:
      containers:
      - env:
        - name: BALENA_MACHINE_NAME
          value: raspberrypi3
        - name: BALENA_PROJECTS
          value: (. ./deployment/images/node-php7 ./python-wifi-connect)
        - name: BALENA_PROJECTS_FLAGS
          value: (S6_ARCH S6_RELEASE IMG_TAG PRIMARY_HUB)
        - name: DBUS_SYSTEM_BUS_ADDRESS
          value: unix:path=/host/run/dbus/system_bus_socket
        - name: BALENA_ARCH
          value: armhf
        - name: IMG_TAG
          value: latest
        - name: PRIMARY_HUB
          value: balenalib\\/raspberrypi3-ubuntu-node:bionic-build
        - name: S6_ARCH
          value: armhf
        - name: S6_RELEASE
          value: v2.0.0.1
        image: betothreeprod/HuewizPi-intel-nuc
        imagePullPolicy: ""
        name: wifi-spot
        resources: {}
        securityContext:
          capabilities:
            add:
            - ALL
          privileged: true
        volumeMounts:
        - mountPath: /etc/hostapd
          name: hostapd
        - mountPath: /etc/hapwizard
          name: hapwizard
        - mountPath: /usr/src/python-wifi-connect/
          name: wifi-connect
        - mountPath: /etc/netplan
          name: netplan
      restartPolicy: Always
      serviceAccountName: ""
      volumes:
      - name: hostapd
        persistentVolumeClaim:
          claimName: hostapd
      - name: hapwizard
        persistentVolumeClaim:
          claimName: hapwizard
      - name: wifi-connect
        persistentVolumeClaim:
          claimName: wifi-connect
      - name: netplan
        persistentVolumeClaim:
          claimName: netplan
status: {}
