[Unit]
Description=Auto-Check system reboot-required status and reboot

[Service]
Type=forking
ExecStart=/usr/local/bin/auto-reboot.sh start
ExecStop=/usr/local/bin/auto-reboot.sh stop
PIDFile=/var/run/chkdpkgs.pid

[Install]
WantedBy=multi-user.target
