version: 2.1
aliases:
  - &deps
    run:
      name: Install dependencies
      command: |
        apk update \
          && apk add \
            npm \
          && apk del build-base \
          && rm -rf /var/cache/apk/*
        rm node_modules/balena-cloud || true
        npm update
        npm link balena-cloud
        npm link balena-cli
orbs:
  shellcheck: circleci/shellcheck@1.3.16
jobs:
  build:
    docker:
    - image: betothreeprod/intel-nuc-node-php7
    shell: /bin/bash -leo pipefail
    environment:
    - BASH_ENV: /etc/profile
    - DKR_ARCH: x86_64
    steps:
    - checkout
    - run:
        command: git submodule sync
    - run:
        command: git submodule update --init --recursive
    - restore_cache:
        key: v1-dependencies-{{ checksum "package-lock.json" }}
    - setup_remote_docker:
        docker_layer_caching: false
    - *deps
    - save_cache:
        key: v1-dependencies-{{ checksum "package-lock.json" }}
        paths:
        - node_modules
    - run:
        name: Set architecture and Setup Environment Variables
        command: |
          balena_deploy . $DKR_ARCH --nobuild --exit
    - persist_to_workspace:
        root: .
        paths:
        - node_modules
  compose:
    docker:
    - image: betothreeprod/dind-php7
    shell: /bin/bash -leo pipefail
    environment:
    - BASH_ENV: /etc/profile
    - DKR_ARCH: x86_64
    steps:
    - checkout
    - run:
        command: git submodule sync
    - run:
        command: git submodule update --init --recursive
    - attach_workspace:
        at: node_modules
    - setup_remote_docker:
        docker_layer_caching: false
    - *deps
    - run:
        name: Set architecture and Setup Environment Variables
        command: |
          balena_deploy . $DKR_ARCH --nobuild --exit
    - run:
        command: |
          set -u
          TAG=0.1.$CIRCLE_BUILD_NUM
          docker-compose -f docker-compose.$DKR_ARCH build
workflows:
  cleanup:
    jobs:
    - shellcheck/check:
        ignore: 'SC1091'
  build-and-compose:
    jobs:
    - build
    - compose:
        requires:
        - build
        context: Info-b23prodtm
  version: 2
